
<br>
<div class="d-flex justify-content-center">
  <!-- Pills content -->
    <div class="tab-content">
      <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form [formGroup]="formEquipo" (submit)="equipo()">
          <div class="form-outline mb-4">
            <label class="form-label" for="nombre">Nombre</label>
            <input type="text" id="nombre" class="form-control"  formControlName="nombre" />
          </div>
          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="imagen">Escudo</label>
            <input type="text" id="imagen" class="form-control"formControlName="imagen" />
          </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Agregar equipo</button>
        </form>
      </div>