<div class="d-flex justify-content-center" style="padding: 5px ;">
    <a style="margin:5px;" class="btn btn-secondary" type="button" [routerLink]="'/equipo'">Equipo</a>
    <a style="margin:5px;" class="btn btn-secondary" type="button" [routerLink]="'/partido'">Partido</a>
    <a style="margin:5px;" class="btn btn-secondary" type="button" [routerLink]="'/listarcampeonato'">campeonato</a>
    <a style="margin:5px;" class="btn btn-secondary" type="button" [routerLink]="'/listarpublicas'">Penca</a>
</div>