

<br>
<div class="d-flex justify-content-center">
  <!-- Pills content -->
    <div class="tab-content">
      <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form [formGroup]="formPartido" (submit)="partido()">
          <div class="form-outline mb-4">
            <label class="form-label" for="nombre">Fecha</label>
            <input type="datetime-local" id="nombre" class="form-control" [ngModel]="{date:'dd-MM-yyyy'}" formControlName="fecha"/>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="descripcion" formControlName="descripcion">Local</label>
            <select class="form-select" aria-label="Default select example" formControlName="idEquipoA">
              <option *ngFor="let e of equipo" value="{{e.id}}">{{e.nombre}}</option>
            </select>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="fechaInicio" formControlName="fechaInicio">Visitante</label>
            <select class="form-select" aria-label="Default select example" formControlName="idEquipoB">
              <option *ngFor="let e of equipo" value="{{e.id}}">{{e.nombre}}</option>
            </select>
          </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Agregar partido</button>
        </form>
      </div>