<thead style=" border-color: none; background-color: #151d2f ; border-radius: 20px; margin: 0%; padding: 0% ;">
    <tr class="tabla" style="margin-bottom: 20px; border-color: none;">
        <td class="tdbase1" style="color:white;">Premios</td>
        <td class="tdbtn1"></td>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let x of Premio" style="margin-bottom: 20px;">
        <td style="color: #151d2f;">{{x.descripcion}}</td>
        <td>
            <button class="btn btn-secondary" (click)="Cobrar(x.id)">
                Cobrar
            </button>
        </td>
    </tr>
</tbody>