

<br>
<div class="d-flex justify-content-center">
  <!-- Pills content -->
    <div class="tab-content">
      <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form [formGroup]="formPenca" (submit)="Penca()">
          <div class="form-outline mb-4">
            <label class="form-label" for="nombre">Nombre</label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre" />
          </div>
          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="costo_entrada">Costo de Entrada</label>
            <input type="text" id="costo_entrada" class="form-control" formControlName="costo_entrada" />
          </div>
          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="comision">Comision</label>
            <input type="text" id="comision" class="form-control"  formControlName="comision" />
          </div>
          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="cant_participantes">Cantidad de Participantes</label>
            <input type="text" id="cant_participantes" class="form-control" formControlName="cant_participantes"/>
          </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Agregar Penca</button>
        </form>
      </div>